*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color:white;
    height: 100vh;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(60, 74, 32); */
}

#story-div{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
   overflow-x: scroll;
   scrollbar-width: none;
   border-bottom: 1px solid grey;
   
}

#istatus{
    margin-left: 0.8vh;
    flex-shrink: 0;
    height: 8vh;
    width: 8vh;
    background-color: rgb(11, 11, 0);
    border-radius: 50%;
    border: 0.4vh solid green;
    overflow: hidden;
}


#istatus img{
    height: 100%;
    width: 100%;
    background-position: center;
    object-fit: cover;
    
}
#full{
    
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: none;
    

}